<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
	  html,body{
	    font: 12px "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	    height:100%;
	    background: #36B5D5;

	  }    
	  .container{
	      position:relative; 
/*	      top:51px;*/
	      height:100%;
/*	      width:100%;*/
/*	      min-width:400px;
	      margin:0 auto; */
	      padding-top: -25px;
	  }	 
	  .container>div{height:100%;} 
    </style>	
</head>
<body>
<div class="container" ui-view></div>
<script data-baseurl="/js/libs/" data-main="/js/app/main.js" src="/js/libs/require.js" id="main"></script>
</body>
</html>